
<h2>Products</h2>

<table border="1">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Category</th>
      <th>TaxPercentage</th>
      <th>IsActive</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody *ngIf="products && products.length">
    <tr *ngFor="let p of products">
      <td>{{p.id}}</td>
      <td>{{p.name}}</td>
      <td>{{p.price}}</td>
      <td>{{p.stockQuantity}}</td>
      <td>{{p.categoryName}}</td>
      <td>{{p.taxPercentage}}</td>
      <td>{{p.isActive}}</td>
      <td >
        <button *ngIf="role==='Admin' || role==='StoreManager'" (click)="editProduct(p.id)">Edit</button>
        <button *ngIf="role==='Admin' || role==='StoreManager'" (click)="deleteProduct(p.id)">Delete</button>
      </td>
    </tr>
  </tbody>

</table>